extends layout

block content

  // Social Wrapper Start
  .wrapper.center.padding-40
    // Social Form Start
    .white.shadow.padding-10.margin-bottom
      form.form.xl
        .col-1.col-persist.-margin
          img.pull-left.width-100.round(src='https://i.imgur.com/g1dkjeS.jpg')
        .col-9.col-persist.gutter-h-10.padding-top-5.-margin
          textarea(placeholder="What's new?")
        .col-2.col-persist.-margin
          a.btn.l.icon.round.text-gray.hover-text-red
            i.fa.fa-camera
          a.btn.l.icon.round.text-gray.hover-text-red
            i.fa.fa-video-camera
    // Social Form End
    // Feed Item Start
    .item.white.shadow.cf
      // Item Header Start
      .row.padding
        .col-1.col-persist.-margin
          img.pull-left.width-100.round(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/245018/profile/profile-80.jpg')
        .col-11.col-persist.gutter-h-10.padding-top-15
          h5.text-15.text700.pull-left A Front-End Language
          a.label.red.pull-left.margin-left.hover-tooltip(href='#')
            span.tooltip.top.text-capitalize Shared Publicly
            |             public
          a.pull-right.label.fill-white.text-gray(href='#') 12h ago
      // Item Header End
      // Item Content Start
      .row
        p.padding.-padding-top
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry
          | Lorem Ipsum is simply dummy text Lorem Ipsum
        img.pull-left.width-100(src='https://decorator.io/media/1.jpg')
      // Item Content End
      // Item Meta Start
      .row.padding
        .pull-left
          a.btn.icon.round.text-red.fill-silver
            i.fa.fa-thumbs-up
          a.btn.white.hover-disable.text-red.text600 256
        .pull-right
          a.btn.icon.round.text-gray.hover-text-red
            i.fa.fa-comment
          a.btn.white.hover-disable.text-red.text600 80
      // Item Meta End
    // Feed Item End
    // Feed Item Start
    .item.white.shadow.cf
      // Item Header Start
      .row.padding
        .col-1.col-persist.-margin
          img.pull-left.width-100.round(src='https://i.imgur.com/g1dkjeS.jpg')
        .col-11.col-persist.gutter-h-10.padding-top-15
          h5.text-15.text700.pull-left A Front-End Language
          a.label.red.pull-left.margin-left.hover-tooltip(href='#')
            span.tooltip.top.text-capitalize Shared Publicly
            |             public
          a.pull-right.label.fill-white.text-gray(href='#') 12h ago
      // Item Header End
      // Item Content Start
      .row
        img.pull-left.width-100(src='https://decorator.io/media/3.jpg')
      // Item Content End
      // Item Meta Start
      .row.padding
        .pull-left
          a.btn.icon.round.text-red.fill-silver
            i.fa.fa-thumbs-up
          a.btn.white.hover-disable.text-red.text600 125
        .pull-right
          a.btn.icon.round.text-gray.hover-text-red
            i.fa.fa-comment
          a.btn.white.hover-disable.text-red.text600 30
      // Item Meta End
    // Feed Item End
    // Feed Item Start
    .item.white.shadow.cf
      // Item Header Start
      .row.padding
        .col-1.col-persist.-margin
          img.pull-left.width-100.round(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/245018/profile/profile-80.jpg')
        .col-11.col-persist.gutter-h-10.padding-top-15
          h5.text-15.text700.pull-left A Front-End Language
          a.label.red.pull-left.margin-left.hover-tooltip(href='#')
            span.tooltip.top.text-capitalize Shared Publicly
            |             public
          a.pull-right.label.fill-white.text-gray(href='#') 12h ago
      // Item Header End
      // Item Content Start
      .row
        img.pull-left.width-100(src='https://decorator.io/media/9.jpg')
      // Item Content End
      // Item Meta Start
      .row.padding
        .pull-left
          a.btn.icon.round.text-red.fill-silver
            i.fa.fa-thumbs-up
          a.btn.white.hover-disable.text-red.text600 125
        .pull-right
          a.btn.icon.round.text-gray.hover-text-red
            i.fa.fa-comment
          a.btn.white.hover-disable.text-red.text600 30
      // Item Meta End
    // Feed Item End
    // Footer Start
    .item.padding-10.white.shadow
      a.btn.blue(href='https://github.com/uloga/modulr.css', target='_blank')
        i.fa.fa-download
        |  Download
      a.btn.blue(href='https://github.com/uloga/modulr.css', target='_blank')
        i.fa.fa-github
        |  Github
      a.btn.fill-transparent.hover-disable.text-black.pull-right(href='#') 
    // Footer End
  // Social Wrapper Start
  // Social Wrapper Start
  .wrapper.center.padding-40
    // Social Form Start
    .white.shadow.padding-10.margin-bottom
      form.form.xl.relative
        .col-1.col-persist.-margin
          img.pull-left.width-100.round(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/245018/profile/profile-80.jpg')
        .col-9.col-persist.gutter-h-10.padding-top-5.-margin
          textarea(placeholder="What's new?")
        .col-2.col-persist.-margin
          a.btn.l.icon.round.text-gray.hover-text-red
            i.fa.fa-camera
          a.btn.l.icon.round.text-gray.hover-text-red
            i.fa.fa-video-camera
    // Social Form End
    // Feed Item Start
    .item.white.shadow.cf
      // Item Header Start
      .row.padding
        .col-1.col-persist.-margin
          img.pull-left.width-100.round(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/245018/profile/profile-80.jpg')
        .col-11.col-persist.gutter-h-10.padding-top-15
          h5.text-15.text700.pull-left A Front-End Language
          a.label.red.pull-left.margin-left.hover-tooltip(href='#')
            span.tooltip.top.text-capitalize Shared Publicly
            |             public
          a.pull-right.label.fill-white.text-gray(href='#') 12h ago
      // Item Header End
      // Item Content Start
      .row
        p.padding.-padding-top
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry
          | Lorem Ipsum is simply dummy text Lorem Ipsum
        img.pull-left.width-100(src='https://decorator.io/media/1.jpg')
      // Item Content End
      // Item Meta Start
      .row.padding
        .pull-left
          a.btn.icon.round.text-green.fill-silver
            i.fa.fa-thumbs-up
          a.btn.white.hover-disable.text-red.text600 256
        .pull-right
          a.btn.icon.round.text-gray.hover-text-red
            i.fa.fa-comment
          a.btn.white.hover-disable.text-red.text600 80
      // Item Meta End
    // Feed Item End
    // Feed Item Start
    .item.white.shadow.cf
      // Item Header Start
      .row.padding
        .col-1.col-persist.-margin
          img.pull-left.width-100.round(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/245018/profile/profile-80.jpg')
        .col-11.col-persist.gutter-h-10.padding-top-15
          h5.text-15.text700.pull-left A Front-End Language
          a.label.red.pull-left.margin-left.hover-tooltip(href='#')
            span.tooltip.top.text-capitalize Shared Publicly
            |             public
          a.pull-right.label.fill-white.text-gray(href='#') 12h ago
      // Item Header End
      // Item Content Start
      .row
        img.pull-left.width-100(src='https://decorator.io/media/3.jpg')
      // Item Content End
      // Item Meta Start
      .row.padding
        .pull-left
          a.btn.icon.round.text-red.fill-silver
            i.fa.fa-thumbs-up
          a.btn.white.hover-disable.text-red.text600 125
        .pull-right
          a.btn.icon.round.text-gray.hover-text-red
            i.fa.fa-comment
          a.btn.white.hover-disable.text-red.text600 30
      // Item Meta End
    // Feed Item End
    // Feed Item Start
    .item.white.shadow.cf
      // Item Header Start
      .row.padding
        .col-1.col-persist.-margin
          img.pull-left.width-100.round(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/245018/profile/profile-80.jpg')
        .col-11.col-persist.gutter-h-10.padding-top-15
          h5.text-15.text700.pull-left A Front-End Language
          a.label.red.pull-left.margin-left.hover-tooltip(href='#')
            span.tooltip.top.text-capitalize Shared Publicly
            |             public
          a.pull-right.label.fill-white.text-gray(href='#') 12h ago
      // Item Header End
      // Item Content Start
      .row
        img.pull-left.width-100(src='https://decorator.io/media/9.jpg')
      // Item Content End
      // Item Meta Start
      .row.padding
        .pull-left
          a.btn.icon.round.text-red.fill-silver
            i.fa.fa-thumbs-up
          a.btn.white.hover-disable.text-red.text600 125
        .pull-right
          a.btn.icon.round.text-gray.hover-text-red
            i.fa.fa-comment
          a.btn.white.hover-disable.text-red.text600 30
      // Item Meta End
    // Feed Item End
    // Footer Start
    .item.padding-10.white.shadow
      a.btn.blue(href='https://github.com/uloga/modulr.css', target='_blank')
        i.fa.fa-download
        |  Download
      a.btn.blue(href='https://github.com/uloga/modulr.css', target='_blank')
        i.fa.fa-github
        |  Github
      a.btn.fill-transparent.hover-disable.text-black.pull-right(href='#') 
    // Footer End
  // Social Wrapper Start
